@font-face {
  font-family:FontAwesome;
  src:url(./fonts/fontawesome-webfont.eot?v=4.7.0);
  src:url(./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),
      url(./fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),
      url(./fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),
      url(./fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),
      url(./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
  font-weight:400;
  font-style:normal;
 }

:root {
    --brand-primary: #ffa800;
}

:root {
    --brand-primary-light-5: hsl(40,100%,55%);
    --brand-primary-dark-5: hsl(40,100%,45%);
    --brand-primary-light-10: hsl(40,100%,60%);
    --brand-primary-dark-10: hsl(40,100%,40%);
    --brand-primary-light-15: hsl(40,100%,65%);
    --brand-primary-dark-15: hsl(40,100%,35%);
    --brand-primary-light-20: hsl(40,100%,70%);
    --brand-primary-dark-20: hsl(40,100%,30%);
    --brand-primary-light-25: hsl(40,100%,75%);
    --brand-primary-dark-25: hsl(40,100%,25%);
    --brand-primary-light-30: hsl(40,100%,80%);
    --brand-primary-dark-30: hsl(40,100%,20%);
    --brand-primary-light-35: hsl(40,100%,85%);
    --brand-primary-dark-35: hsl(40,100%,15%);
    --brand-primary-light-40: hsl(40,100%,90%);
    --brand-primary-dark-40: hsl(40,100%,10%);
    --brand-primary-light-45: hsl(40,100%,95%);
    --brand-primary-dark-45: hsl(40,100%,5%);
    --brand-primary-light-50: hsl(40,100%,100%);
    --brand-primary-dark-50: hsl(40,100%,0%);
}

